{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }} !</h2>
<br>

<div>
  <h2 id="user_balance">Balance: {{ user.balance }}</h2>
</div>

<div>
<h3>Sell Tickets</h3>
<h4 id='sellErrorMessage'>{{sellErrorMessage}}</h4>
<form id="sellTicket" action="/sell" method="post">
  <div class="form-group" style="margin-bottom:15px;">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="name" type="text" required>
    <label for="quantity">Quantity</label>
    <input class="form-control" name="quantity" id="quantity" type="number" required>
    <label for="price">Price</label>
    <input class="form-control" name="price" id="price" type="number" required>
    <label for="expireDate">Expiration Date</label>
    <input class="form-control" name="expireDate" id="expireDate" type="number" required>
    <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Sell">
  </div>
</form>
<br>
</div>

<div>
<h3>Buy Tickets</h3>
<h4 id='buyErrorMessage'>{{buyErrorMessage}}</h4>
<form id="buyTicket" action="/buy" method="post" >
  <div class="form-group" style="margin-bottom:15px;">
    <label for="buyName">Name</label>
    <input class="form-control" name="buyName" id="buyName" required>
    <label for="buyQuantity">Quantity</label>
    <input class="form-control" name="buyQuantity" id="buyQuantity" required>
    <input class="btn btn-lg btn-primary" type="submit" id="btn-submit2" value="Buy">
  </div>
</form>
<br>
</div>

<div>
<h3>Update Tickets</h3>
<h4 id='updateErrorMessage'>{{updateErrorMessage}}</h4>
<form id="updateTicket" action="/update" method="post">
  <div class="form-group" style="margin-bottom:15px;">
    <label for="updateName">Name</label>
    <input class="form-control" name="updateName" id="updateName" required>
    <label for="updateQuantity">Quantity</label>
    <input class="form-control" name="updateQuantity" id="updateQuantity" required>
    <label for="updatePrice">Price</label>
    <input class="form-control" name="updatePrice" id="updatePrice" required>
    <label for="updateExpireDate">Expiration Date</label>
    <input class="form-control" name="updateExpireDate" id="updateExpireDate" required>
    <input class="btn btn-lg btn-primary" type="submit" id="btn-submit3" value="Update">
  </div>
</form>
<br>
</div>

<div id="tickets" style="margin-bottom:15px;">
  <h2 >Here are all available tickets</h2>
  <table>
    <tr>
      <td style="padding-right: 20%;"><h4>Name</h4></td>
      <td style="padding-right: 20%;"><h4>Price</h4></td>
      <td style="padding-right: 20%;"><h4>Quantity</h4></td>
      <td style="padding-right: 20%;"><h4>Expiry Date</h4></td>
      <td style="padding-right: 20%;"><h4>Email</h4></td>
    </tr>
    {% for ticket in tickets %}
    <tr>
      <td style="padding-right: 5%;"><h5>{{ ticket.name }}</h5></td>
      <td style="padding-right: 5%;"><h5>{{ ticket.price }}</h5></td>
      <td style="padding-right: 5%;"><h5>{{ ticket.quantity }}</h5></td>
      <td style="padding-right: 5%;"><h5>{{ ticket.date }}</h5></td>
      <td style="padding-right: 5%;"><h5>{{ ticket.email }}</h5></td>
    </tr>
    {% endfor %}
  </table>
</div>
<br>
<a id="logout_link" href='/logout'>logout</a>
<br>
{% endblock %}