{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Buy{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="buy_header">Thank you for your purchase</h2>
<div>
<h3>Buy Tickets</h3>
<form method="post" >
  <div class="form-group" style="margin-bottom:15px;">
    <label for="buyName">Name</label>
    <input class="form-control" name="buyName" id="buyName" required>
    <label for="buyQuantity">Quantity</label>
    <input class="form-control" name="buyQuantity" id="buyQuantity" required>
    <input class="btn btn-lg btn-primary" type="submit" id="btn-submit2" value="Buy">
  </div>
</form>
<br>
</div>
<br>
<a id="logout_link" href='/logout'>logout</a>
<br>
{% endblock %}