{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }} !</h2>
<br>

<div>
  <h2 id="user_balance">Balance: {{ user.balance }}</h2>
</div>

<button onclick="location.href='buy.html';" id="buy_button">Buy Tickets</button>
<br>
<button onclick="location.href='sell.html';" id="sell_button">Sell Tickets</button>
<br>
<button onclick="location.href='update.html';" id="update_button">Update Tickets</button>

<div id="tickets" style="margin-bottom:15px;">
  <h2 >Here are all available tickets</h2>
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} {{ ticket.price }}  </h4>
        <h5>{{ ticket.quantity }} {{ ticket.date }} {{ ticket.email }}  </h5>
    </div>
{% endfor %}
</div>
<br>
<a id="logout_link" href='/logout'>logout</a>
<br>
{% endblock %}